@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Theme */
  :root {
    --background: 0 0% 93%;
    --foreground: 0 0% 87%;
    --primary: 0 0% 24%;
    --text: 0 0% 70%;
    --text-primary: 0 0% 27%;
    --incorrect-text: 0 100% 42%;
    --incorrect-text-overflow: 0 100% 35%;
  }

  /* Dark Theme */
  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 14%;
    --primary: 50 43% 78%;
    --text: 0 0% 27%;
    --text-primary: 45 29% 96%;
    --incorrect-text: 0 33% 53%;
    --incorrect-text-overflow: 14 58% 19%;
  }

  .norse {
    --background: 240 1% 14%;
    --foreground: 180 3% 19%;
    --primary: 192 44% 29%;
    --text: 193 8% 34%;
    --text-primary: 36 21% 75%;
    --incorrect-text: 359 62% 29%;
    --incorrect-text-overflow: 359 62% 29%;
  }
  .mountain {
    --background: 0 0% 6%;
    --foreground: 0 0% 10%;
    --primary: 0 0% 100%;
    --text: 0 0% 41%;
    --text-primary: 0 0% 91%;
    --incorrect-text: 0 16% 61%;
    --incorrect-text-overflow: 0 27% 60%;
  }
}
