@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Theme */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 93%;
    --primary: 0 0% 0%;
    --logoText: 0 0% 0%;
    --text: 0 0% 50%;
  }

  /* Dark Theme */
  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 0%;
    --primary: 0 0% 100%;
    --logoText: 0 0% 100%;
    --text: 0 0% 80%;
  }

  /* Vercel Theme */
  .vercel {
    --background: 0 0% 7%; /* Customize as needed */
    --foreground: 0 0% 0%; /* Customize as needed */
    --primary: 221 83% 53%;
    --logoText: 0 0% 100%;
    --text: 0 0% 96%;
  }
}
