@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Theme */
  :root {
    --background: 0 0% 93%;
    --foreground: 0 0% 87%;
    --primary: 0 0% 24%;
    --text: 0 0% 70%;
    --text-primary: 0 0% 27%;
    --incorrect-text: 0 100% 42%;
    --incorrect-text-overflow: 0 100% 35%;
  }

  /* Dark Theme */
  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 14%;
    --primary: 50 43% 78%;
    --text: 0 0% 27%;
    --text-primary: 45 29% 96%;
    --incorrect-text: 0 33% 53%;
    --incorrect-text-overflow: 14 58% 19%;
  }
}
